<!DOCTYPE html>

<html>
<body>

	<h1>Sign up for a Bookmark Manager Account</h1>

	<form action='/users' method='post'>
		<label for='email'>Email: </label>
			<input name='email' type='text' value="<%= @user.email %>">
		<br>
		<label for='password'>Password: </label>
	    	<input name='password' type='password'>
		<br>
		<label for='password'>Confirm Password: </label>
	    	<input name='password_confirmation' type='password'>
		<br>
		<input type='submit' value='Sign Up'>
	</form>
	
</body>
</html>